body, html {
    width: 100%;
    height:100%;
}
.text{
    background: linear-gradient(to top, #000223, #f8a096);
    border-radius: 20px;
    width: 70px;
    height: 35px;
    position: fixed;
    z-index: 2;
    color: white;
    text-align: center;
}
.anim{
    margin: 5% 40%;
    border: 2px solid;
}
.bl{
    margin: 4% 20%;
    border: 2px solid;
}
.t{
   margin: 0 auto; 
   width: 50%;
}
.v{
     margin: 0 auto;
     width: 71%;
}
.t2{
    padding: 1%;
    margin-top: 2%;
  border: 3px solid;  
}
.t3{
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
  border: 3px solid;  
}