*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
.html{
    height: 100vh;
    width: 100%;
margin-top: 3%;    
}
.css{
        height: 100vh;
    width: 100%; 
}
.tt{
    position: fixed;
        background-color: gray;
    color: white;
    opacity: 0.9;
    padding: 3% 3%; 
    margin-top:200px ;
}
.cart:hover .tt{
    display: none;
}
.text{
    background-color: black;
    width: 6%;
    height: 5%;
    position: fixed;
    z-index: 2;
    color: white;
}
.textt{
    margin-left: 90%;
    background-color: black;
    width: 5%;
    height: 5%;
    position: fixed;
    z-index: 2;
    color: white;
}